html, body {
    width: 100%;
    font-size: 62.5%;
    margin: 0px; padding: 0px;
}

body {
    font-family: Bitter, Times, serif;
    text-align: center;
    font-size: 1em;
}

h1 { font-size: 4em; }

ul, li {
    list-style: none;
    margin: 0px; padding: 0px;
}

ul {
    width: 80%;
    max-width: 320px;
    margin-left: auto; margin-right: auto;
}

li {
    font-size: 1.6em;
    width: 32%;
    display: inline-block;
}

i {
    padding: 0.2em;
}

a, a:visited {
    color: #729871;
}

a:hover {
    color: #576E57;
}